@import "tailwindcss";

@theme {
  --color-code-red: #ff4d4d;
  --color-code-blue: #4d79ff;
  --color-code-neutral: #cbaacb;
  --color-code-assassin: #1a1a1a;

  --animate-flip: flip 0.6s forwards;

  @keyframes flip {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(180deg);
    }
  }
}

@layer base {

  body {
    @apply bg-slate-900 text-white overflow-x-hidden;
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .card-3d {
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card-front,
  .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .flipped {
    transform: rotateY(180deg);
  }
}